* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --boolando-primary: rgba(255, 105, 0, 1);
    --boolando-secondary: rgba(26, 26, 26, 1);
    --boolando-red: rgba(255, 0, 0, 1);
    --boolando-green: rgba(0, 128, 1, 1);
}

/* #region header */
.site_header {
    /* border: 1px solid; */
    width: 100%;
    height: 50px;
    background-color: var(--boolando-primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 1px 5px black;
    display: flex;
    justify-content: center;

}

.main_menu {
    width: 80%;
    /* border: 1px solid; */

    display: flex;
    color: white;
    font-size: 1rem;
}

ul {
    list-style: none;
    display: flex;
    gap: .5rem;
    line-height: 50px;
}

.categories>li:hover {
    color: black;
}

.nav_icons>ul>li>i:hover {
    color: black;
}


.logo {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* #endregion header */

/* #region main */
.site_main {
    display: flex;
    justify-content: center;
}

.container {
    width: 80vw;
    /* height: 800px; */
    padding-top: 80px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    /* height: 400px; */
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin-bottom: 40px;
}

.card {
    width: calc((90%/3));
    /* height: 100%; */
    /* background-color: green; */
    /* border: 1px solid black; */
}

.item {
    width: 100%;
    /* height: 85%; */
    /* background-color: lightgreen; */
    position: relative;
}



.heart {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 5px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discount {
    color: white;
    font-weight: bold;
    font-size: .75rem;
    background-color: var(--boolando-red);
    width: max-content;
    padding: 2px 5px;
    position: absolute;
    bottom: 30px
}

.eco {
    color: white;
    font-weight: bold;
    font-size: .75rem;
    background-color: var(--boolando-green);
    width: max-content;
    padding: 2px 5px;
    position: absolute;
    bottom: 30px;
    left: 40px;
}

.eco_2 {
    color: white;
    font-weight: bold;
    font-size: .75rem;
    background-color: var(--boolando-green);
    width: max-content;
    padding: 2px 5px;
    position: absolute;
    bottom: 30px;
    left: 0;
}


.label {
    color: gray;
    font-size: .5rem;
}

.title {
    font-size: .5rem;
    font-weight: bold;
}

.price {
    display: flex;
}

.final_price {
    color: var(--boolando-red);
    font-size: .5rem;
}

.initial_price {
    color: gray;
    font-size: .5rem;
    text-decoration: line-through;
}

.b {
    position: absolute;
    left: 0;
    opacity: 0%;
}

.card:hover {
    cursor: pointer;
}

.card:hover .b {
    opacity: 100%;
    transform: scale(1.05);
    transition: 1s;
}

.card:hover .a {
    opacity: 0%;
}

.card:hover .heart {
    color: var(--boolando-red);

}

li:hover {
    cursor: pointer;
}

/* #endregion main */

.site_footer {
    width: 100%;
    height: 80px;
    background-color: var(--boolando-secondary);
}

.footer_container {
    /* border: 1px solid white; */
    width: 80%;
    height: 100%;
    margin: auto;
    color: white;
    display: flex;
    align-items: center;
}

.footer_un_list {
    font-size: .6rem;
    line-height: 1.2rem;
}

.footer_un_list_icons {
    line-height: 1.4rem;
}

h5 {
    font-size: .8rem;
}

h6 {
    font-size: .7rem;
}


.company {
    flex-grow: 1;
}